/*-- Google Font --*/
@import url("https://fonts.googleapis.com/css?family=Dosis:400,500,600,700|Poppins:400,500,600,700");

.margin-t-40 {
    margin-top: 40px;
}

h1 {
    font-family: "Dosis", sans-serif;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.container-flu {
    margin-left: 100px;
    margin-right: 100px;
}

.container-flu p {
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
}

.container-flu p:first-child {
    margin-right: 80px;
}