/*-- Google Font --*/
@import url('https://fonts.googleapis.com/css?family=Dosis:400,500,600,700|Poppins:400,500,600,700');

.margin-t-40 {
    margin-top: 40px;
}

h1 {
    font-family: "Dosis", sans-serif;
}

a {
    color: #000;
    font-weight: 700;
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}







